header {
  #navbarNav {
    justify-content: end;
    .nav-item {
      margin-left: 25px;

      .nav-link:hover {
        border-bottom: 2px solid black;
      }
      .nav-link.active {
        border-bottom: 2px solid black;
      }
    }
  }
}
