#unit-types {
  .container {
    margin: 10px 5px;
  }
}
.img-thumbnail {
  max-width: initial !important;
}
#table {
  thead {
    vertical-align: middle;
    font-size: 11px;
  }
  tr {
    height: 55px;
  }
}
.table {
  font-size: 12px;
  padding-top: 50px;
}
.my-label {
  background-color: #4074999e;
  font-size: 25px;
  display: block;
  width: 90px;
  height: 44px;
  transform: rotate(353deg);
  font-weight: 700;
  cursor: pointer;
}
#label-1 {
  bottom: 109px;
  left: 204px;
}
#label-2 {
  bottom: 172px;
  left: 198px;
}
#label-3 {
  bottom: 225px;
  left: 192px;
}
#label-4 {
  bottom: 276px;
  left: 187px;
}
#label-5 {
  bottom: 332px;
  left: 178px;
}
#label-6 {
  bottom: 389px;
  left: 170px;
}
#label-7 {
  bottom: 449px;
  left: 165px;
}
#label-8 {
  bottom: 506px;
  left: 156px;
}
#label-9 {
  bottom: 556px;
  left: 150px;
}
