#location {
  padding-top: 10px;

  .row:first-child {
    height: 70vh;
    overflow: hidden;
  }
  #location-dets {
    justify-content: space-between;
  }
}

#zones {
  margin-top: 30px;

  img {
    max-width: initial;
  }
  .my-label {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  #z-label-1 {
    bottom: 119px;
    background-color: #3d9be9;
    left: 232px;
  }
  #z-label-2 {
    bottom: 119px;
    background-color: #616161;
    left: 432px;
  }
  #z-label-3 {
    bottom: 119px;
    background-color: #bf5666;
    left: 632px;
  }
  #z-label-4 {
    bottom: 372px;
    background-color: #bf5666;
    left: 560px;
  }
  #z-label-5 {
    bottom: 244px;
    background-color: yellow;
    left: 692px;
  }
  .para {
    justify-content: center;
    margin-top: 25px;
  }
  .para > * {
    margin-right: 80px;
  }
  .para-1::before,
  .para-2::before,
  .para-3::before,
  .para-4::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-150%, -50%);
  }
  .para-1::before {
    background-color: #3d9be9;
  }
  .para-2::before {
    background-color: #616161;
  }
  .para-3::before {
    background-color: #bf5666;
  }
  .para-4::before {
    background-color: yellow;
  }
}

#cabans {
  margin-top: 20px;
  padding-bottom: 200px;
  img {
    max-width: initial;
  }

  .wrapper-1 {
    z-index: 3;
  }

  .wrapper-2 {
    z-index: 2;
  }

  #vid-1 {
    z-index: 2;
  }

  #btn-1,
  #btn-2 {
    z-index: 5;
    padding: 12px 16px;
  }

  #btn-1 {
    bottom: -280px;
    right: 45px;
  }
  #btn-2 {
    bottom: -280px;
    left: 20px;
  }
  .my-label {
    font-size: 8px;
    display: block;
    width: 20px;
    height: 15px;
    transform: rotate(-48deg);
    font-weight: normal;
    cursor: pointer;
    text-align: center;
    color: #9f6b28;
    border: 1px solid #9f6b28;
    background: rgba(228, 232, 21, 0.9);
    visibility: hidden;
  }
  #A-SA-101 {
    bottom: 85px;
    left: 479px;
  }
  #A-SA-102 {
    bottom: 106px;
    left: 468px;
  }
  #A-SA-103 {
    bottom: 118px;
    left: 451px;
  }
  #A-SA-104 {
    bottom: 135px;
    left: 431px;
  }
  #A-SA-105 {
    bottom: 140px;
    left: 413px;
  }
  #A-SA-106 {
    bottom: 154px;
    left: 399px;
  }
  #A-SA-107 {
    bottom: 164px;
    left: 385px;
  }
  #A-SA-108 {
    bottom: 169px;
    left: 371px;
  }
  #A-SA-109 {
    bottom: 177px;
    left: 357px;
  }
  #table {
    font-size: 14px;
  }
}

#unit-info {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: whitesmoke;
  display: none;
  .tab {
    float: right;
    background-color: #f1f1f1;

    button {
      display: block;
      background-color: #d3d3d3;
      color: black;
      width: 6em;
      border: 1px solid #bbb4;
      outline: none;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
      font-size: 17px;
      &:hover {
        background-color: #ddd;
      }
      &.active {
        background-color: #ccc;
      }
    }
  }

  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-right: none;
  }
}
