#water-fall {
  padding-top: 10px;
  .footer {
    height: 20px;
    .footer-content {
      right: 0%;
      bottom: 3%;
      width: 24%;
      z-index: 3;
      font-size: 8px;
      span {
        font-weight: 800;
      }
    }
  }
  .wrapper-2d,
  .wrapper-3d {
    max-width: 100%;
    padding: 1rem;
    display: none;
  }

  .wrapper-2d.active,
  .wrapper-3d.active {
    display: block;
  }

  .main:fullscreen #exit-fullscreen {
    display: block;
  }

  .main:fullscreen #fullscreen {
    display: none;
  }
  #exit-fullscreen {
    display: none;
  }
  .image-container {
    position: relative;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
  }
  #fullscreenBtn {
    position: absolute;
    top: 0;
    right: 1%;
  }
  .pop-up {
    position: absolute;
    top: 0;
    left: 30%;
    background-color: white;
    width: 200px;
    height: 165px;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    transform: translate(-50%, -109%);
    box-shadow: -11px 8px 34px 0px rgba(0, 0, 0, 0.75);
    z-index: 4;

    &-heading {
      display: flex;
      justify-content: space-between;
    }
  }
  .triangle {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid rgb(255, 255, 255);
    transform: rotateZ(268deg) translateX(2px) translateY(94px);
  }

  .d2-label,
  .d3-label {
    position: absolute;
    cursor: pointer;
    mix-blend-mode: multiply;
  }

  .d2-label.anime,
  .d3-label.anime {
    animation: pluse 2s ease 0s infinite;
  }
  // 2d labels
  #d2-B-SD-115 {
    background-color: rgb(245 209 184);
    width: 1.5%;
    height: 4%;
    top: 9.49%;
    left: 43%;
    rotate: -12deg;
  }
  #d2-B-SD-116 {
    background-color: rgb(245, 209, 184);
    width: 1.5%;
    height: 3.9%;
    top: 9.3%;
    left: 45.5%;
    rotate: -12deg;
  }
  #d2-B-SD-117 {
    background-color: rgb(245, 209, 184);
    width: 1.5%;
    height: 3.9%;
    top: 9%;
    left: 47.9%;
    rotate: -12deg;
  }
  #d2-B-SD-118 {
    background-color: rgb(245, 209, 184);
    width: 1.5%;
    height: 3.9%;
    top: 8.5%;
    left: 50.4%;
    rotate: -12deg;
  }
  #d2-B-SD-119 {
    background-color: rgb(245, 209, 184);
    width: 1.5%;
    height: 3.9%;
    top: 8%;
    left: 53%;
    rotate: -12deg;
  }
  #d2-B-SD-120 {
    background-color: rgb(245, 209, 184);
    width: 1.5%;
    height: 3.9%;
    top: 7.5%;
    left: 55.4%;
    rotate: -7deg;
  }
  #d2-B-SD-121 {
    background-color: rgb(245 209 184);
    width: 1.7%;
    height: 4.2%;
    top: 7.1%;
    left: 57.9%;
    rotate: -7deg;
  }
  #d2-B-SE-122 {
    background-color: rgb(116 138 215);
    width: 1.59%;
    height: 3.9%;
    top: 6.8%;
    left: 60.4%;
    rotate: -7deg;
  }
  #d2-B-I-301-01 {
    background-color: rgb(59, 160, 103);
    width: 2%;
    height: 2.59%;
    top: 37.89%;
    left: 10.99%;
    rotate: -4deg;
  }
  #d2-B-I-301-22 {
    background-color: rgb(59 160 103);
    width: 2%;
    height: 2%;
    top: 35.9%;
    left: 10.9%;
    rotate: -4deg;
  }
  #d2-B-I-301-03 {
    background-color: rgb(59, 160, 103);
    width: 2.2%;
    height: 2%;
    top: 36.1%;
    left: 8.7%;
    rotate: -4deg;
  }
  #d2-B-I-301-04 {
    background-color: rgb(59, 160, 103);
    width: 2.2%;
    height: 2.8%;
    top: 38.1%;
    left: 8.8%;
    rotate: -4deg;
  }
  #d2-B-I-302-01 {
    background-color: rgb(59, 160, 103);
    width: 2%;
    height: 2.59%;
    top: 36.3%;
    left: 15.9%;
    rotate: -4deg;
  }
  #d2-B-I-302-04 {
    background-color: rgb(59, 160, 103);
    width: 2%;
    height: 2.68%;
    top: 36.6%;
    left: 13.9%;
    rotate: -4deg;
  }
  #d2-B-I-302-02 {
    background-color: rgb(59 160 103);
    width: 2%;
    height: 2%;
    top: 34.3%;
    left: 15.9%;
    rotate: -4deg;
  }
  #d2-B-I-302-03 {
    background-color: rgb(59 160 103);
    width: 2.2%;
    height: 2%;
    top: 34.6%;
    left: 13.7%;
    rotate: -4deg;
  }
  #d2-B-I-303-01 {
    background-color: rgb(59, 160, 103);
    width: 2%;
    height: 2.59%;
    top: 35.5%;
    left: 20.99%;
    rotate: -7deg;
  }
  #d2-B-I-303-03 {
    background-color: rgb(59 160 103);
    width: 2.2%;
    height: 2%;
    top: 33.9%;
    left: 18.7%;
    rotate: -7deg;
  }
  #d2-B-I-303-22 {
    background-color: rgb(59 160 103);
    width: 2%;
    height: 2%;
    top: 33.49%;
    left: 20.87%;
    rotate: -8deg;
  }
  #d2-B-I-303-04 {
    background-color: rgb(59, 160, 103);
    width: 2.1%;
    height: 2.59%;
    top: 35.9%;
    left: 18.9%;
    rotate: -7deg;
  }
  #d2-B-TH-304-A {
    background-color: rgb(233, 213, 225);
    width: 2.5%;
    height: 1.4%;
    top: 37.2%;
    left: 27.4%;
    rotate: -6deg;
  }
  #d2-B-TH-304-B {
    background-color: rgb(233, 213, 225);
    width: 2%;
    height: 1.7%;
    top: 38.6%;
    left: 28%;
    rotate: -6deg;
  }
  #d2-B-TH-304-C {
    background-color: rgb(233, 213, 225);
    width: 2.5%;
    height: 1.4%;
    top: 36.7%;
    left: 29.9%;
    rotate: -6deg;
  }
  #d2-B-TH-304-D {
    background-color: rgb(233, 213, 225);
    width: 2.4%;
    height: 1.75%;
    top: 38.1%;
    left: 30.1%;
    rotate: -8deg;
  }

  // 3d labels
  #d3-B-SD-116 {
    top: 20%;
    left: 30%;
  }
  #d3-B-SD-117 {
    top: 20%;
    left: 30%;
  }
  @keyframes pluse {
    0% {
      box-shadow: 0 0 0 0 rgb(255 226 21);
    }

    70% {
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 8px;
    }

    100% {
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    }
  }
  #table {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    h2 {
      color: #6c757d;
      font-family: Georgia, "Times New Roman", Times, serif;
    }
    form {
      font-size: 12px;
      background-color: #f8f9fa;
      border-radius: 5px;
      padding: 12px;
      margin-bottom: 25px;
      h6 {
        font-size: 12px;
      }
      .form-status-container {
        width: 50%;
      }

      label[for="area-min"],
      label[for="area-max"],
      label[for="price-min"],
      label[for="price-max"],
      label[for="rooms-min"],
      label[for="rooms-max"] {
        top: 100%;
      }

      label[for="area-max"] {
        left: 80%;
      }
      label[for="price-min"] {
        left: 6%;
      }
      label[for="price-max"] {
        left: 82%;
      }
      label[for="rooms-min"] {
        left: 6%;
      }
      label[for="rooms-max"] {
        left: 84%;
      }

      #area-min {
        transform: translateX(4px);
      }
      #price-min {
        transform: translateX(4px);
      }
      #rooms-min {
        transform: translateX(4px);
      }
      input[type="range"] {
        -webkit-appearance: none;
        background-color: #adb5bd;
        outline: none;
        border-radius: 5px;
        height: 2px;
        width: 45%;
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          background: black;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #adb5bd;
          cursor: pointer;
        }
      }
    }

    .table-container {
      max-height: 550px;
      overflow-y: scroll;
    }
    .units-rows.active,
    .units-rows.clicked,
    .units-rows:hover {
      background-color: #ccc;
    }
  }
}
