.control-btn {
  z-index: 4;
  top: 90%;
  left: 5%;
  width: 400px;

  .toggle-button {
    display: flex;
    align-items: center;
  }
  .toggle-button div:first-child {
    text-align: end;
    padding-right: 10px;
  }
  .toggle-switch {
    background: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    transition: all 0.3s linear;
  }
  .toggle-switch:hover {
    cursor: pointer;
    box-shadow: 0 0 5px black;
  }
  #toggle-switch_body {
    width: 9.5%;
    border-radius: 1000px;
    position: relative;
    top: 2px;
    height: 18px;
  }
  #toggle-switch_trigger {
    position: absolute;
    width: 30%;
    height: 68%;
    top: 51%;
    left: 9%;
    transform: translateY(-50%);
    background-color: hsl(230, 17%, 14%);
    border-radius: 50%;
    transition: all 0.3s ease-in;
  }
}
